<!DOCTYPE html>
<html>
<head>
  <title>ActiveMetrics</title>
  <%= stylesheet_link_tag    "active_metrics/application", media: "all" %>
  <%= javascript_include_tag "active_metrics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
